.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 7% 12% 0 12%;
  color: var(--font);
}

article {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}

.title {
  font-size: 4rem;
  align-self: center;
}

.subtitle {
  align-self: center;
  font-size: 1.6rem;
  font-weight: normal;
  filter: opacity(0.8);
}

.contactInfo {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.contactInfo > li {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
